<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <title> RB 360®</title>
    <link rel="icon" type="image/ico" href="~/Content/assets/img/logo/logo-bs4.png" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content=" RB 360® - Todos os direitos reservados" name="description" />
    <meta content=" RB 360®" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="~/Content/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/font-awesome/5.0/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/animate/animate.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/transparent/style.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/transparent/style-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/transparent/theme/transparent.css" rel="stylesheet" id="theme" />
    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="~/Content/assets/plugins/jquery-jvectormap/jquery-jvectormap.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
    <!-- ================== END PAGE LEVEL STYLE ================== -->
    <!-- ================== BEGIN BASE JS ================== -->
    @*<script src="~/Content/plugins/pace/pace.min.js"></script>*@
    <script src="~/Content/assets/css/"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<body>

    <div class="page-cover"></div>
    <div id="page-loader" class="fade show"><span class="spinner"></span></div>
    <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
        @Html.Partial("_Header")
        @Html.Partial("_Sidebar")
        <div class="sidebar-bg"></div>
        <div id="content" class="content">
            @RenderBody()
        </div>
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
    </div>

    <!-- ================== BEGIN BASE JS ================== -->
    @*<script src="../assets/plugins/jquery/jquery-3.2.1.min.js"></script>*@
    <script src="~/Content/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Content/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Content/assets/plugins/js-cookie/js.cookie.js"></script>
    <script src="~/Content/assets/js/theme/transparent.min.js"></script>
    <script src="~/Content/assets/js/apps.min.js"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="~/Content/assets/plugins/gritter/js/jquery.gritter.js"></script>
    <script src="~/Content/assets/plugins/flot/jquery.flot.min.js"></script>
    <script src="~/Content/assets/plugins/flot/jquery.flot.time.min.js"></script>
    <script src="~/Content/assets/plugins/flot/jquery.flot.resize.min.js"></script>
    <script src="~/Content/assets/plugins/flot/jquery.flot.pie.min.js"></script>
    <script src="~/Content/assets/plugins/sparkline/jquery.sparkline.js"></script>
    <script src="~/Content/assets/plugins/jquery-jvectormap/jquery-jvectormap.min.js"></script>
    <script src="~/Content/assets/plugins/jquery-jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/assets/js/demo/dashboard.min.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->

    <script>
        $(document).ready(function () {
            COLOR_BLACK_transparent_2 = 'rgba(255,255,255,0.15)';
            COLOR_WHITE = '#333';
            App.init();
            Dashboard.init();
        });
    </script>
    @*<script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>
    <script src="@EnumHandler.HandlerUrl"></script>
    @Scripts.Render("~/Bundles/js")
    @RenderSection("ViewSpecificJavascript", required: false)*@

</body>
</html>
